<div id="about">
    <ul>
        <li>
            <h2><a>¿Que es Imperium Clasico?</a></h2>
            <p>
                Imperium Clasico es un MMORPG basado en la versión 0.13 de Argentum Online liberado bajo la licencia <a href="https://es.wikipedia.org/wiki/GNU_General_Public_License" target="_blank"> GNU General Public License</a>. Imperium Clasico se ambienta y trata de recrear uno de los mods mas populares de Argentum, ImperiumAO utilizando recursos liberados por los mismos, Argentum y la propia comunidad.
            </p>
        </li>
        <li>
            <h2><a>¿Quienes componen el equipo de Imperium Clasico?</a></h2>
            <p>
                El equipo de Imperium Clasico, asi como el propio proyecto no mantiene ninguna relación con el staff ni con el mod de Argentum Online 'ImperiumAO'. Este proyecto, ligado a Comunidad Winter, esta desarrollado por un equipo de fans y desarrolladores de la comunidad Argentum.
            </p>

            <p>
                - Dirección y Programación: Lorwik <br/>
                - Dirección servidor Europeo: Zharkel <br/>
                - Mapeo: Howell <br/>
                - Marketing: Santo <br/>
                - Ayudante de programación: Crep <br/>
            </p>
        </li>
        <li>
            <h2><a>¿Que es Comunidad Winter?</a></h2>
            <p>
                La Comunidad Winter es un conjunto de servidores mod de Argentum Online que cuenta con el respaldo del staff original de WinterAO.
            </p>
        </li>
    </ul>
</div>